
#new-windows {
  position: absolute;
  width: 900px;
  height: 420px;
  top: 200px;
  left: 500px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 1px 1px 5px 2px gray;
  box-sizing: border-box;
}

.immm {
  height:100%;
  width: auto !important;
  margin-left: auto;
  margin-right: auto;
}

.col-xxl-12 {
  position: relative;
}

hr {
  width : 96%;
  margin-left: auto ;
  margin-right: auto;
}

.logout:hover {
  cursor: pointer;
}

.hr-solid {
  height: 4px;
  border : 0px;
  box-shadow: 0 10px 10px -10px #000000 inset;
}

.selects {
  width: 60%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
  float: right;
}

.texts {
  width : 98%;
  height: 69%;  
  margin-left: auto;
  margin-right: auto;
  padding: 0.5%;
  background-color: rgb(216, 216, 216);
  /* box-shadow: 1px 1px 4px 1px black; */
  border-radius: 10px;
  box-sizing: border-box;
}

.texts textarea {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  border: solid 2px white;
  border-radius: 5px;
  font-size: 15px;
  resize: both;
}

.form-switch {
  display: inline-block;
}

.form-check-input {
  width: 45px !important;
  height: 24px;
  margin-top: 0;
}
.form-check-label {
  height: 26px;
  font-size: 16px;
  margin-left: 4px;
}

.select {
  margin-right: 1.5%;
  margin-left: 1.5%;
}

.sogyun-btns {
  width: 18%;
  float: right;
  margin: 0.7%;
}

.sogyon-insert {
  margin-right: 13%;
  width: 70px;
}
.sogyon-close {
  width: 65px;
}

.form-floating {
  height: 100%;
}
.sogyon-text {
  height: 100% !important;
}
.sogyon-update {
  margin-right: 13%;
  width: 70px;
}

.sogyon-list-cover {
  width: 95%;
}

.sogyon-list {
  width: 100%;
  min-height: 10px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 5px 1px #444;
}

.hos-name {
  vertical-align: middle;
}

#new-windows {
  animation-name: up2;
  animation-duration: 0.3s;
}
@keyframes up2 {
  0% {
  opacity: 0;
  }
  100% {
  opacity: 1;
  }
}

.list-group-item {
  padding: 2px 5px 2px 5px;
  background-color: rgba(232, 237, 240, 0.996);
 
  /* opacity: 0.8; */
}

.list-group-item:hover {
  cursor: pointer;
  opacity: 1;
  background-color: rgb(211, 235, 244);
}
.sogyon-list {
  padding: 1%;
}



.ha-screen-reader{
  width: var(--ha-screen-reader-width, 1px);
  height: var(--ha-screen-reader-height, 1px);
  padding: var(--ha-screen-reader-padding, 0);
  border: var(--ha-screen-reader-border, none);

  position: var(--ha-screen-reader-position, absolute);
  clip: var(--ha-screen-reader-clip, rect(1px, 1px, 1px, 1px));
  overflow: var(--ha-screen-reader-overflow, hidden);
}

/*
=====
RESET STYLES
=====
*/

.field__input{ 
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
  
  background-color: transparent;
  border-radius: 0;
  border: none;


  -webkit-appearance: none;
  -moz-appearance: none;

  font-family: inherit;
  font-size: inherit;
}

.field__input:focus::-webkit-input-placeholder{
  color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder{
  color: var(--uiFieldPlaceholderColor);
}

/*
=====
CORE STYLES
=====
*/

.field{
  --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
  --uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 1rem);   
  --uiFieldBorderColorActive: var(--fieldBorderColorActive, rgba(22, 22, 22, 1));

  display: var(--fieldDisplay, inline-flex);
  position: relative;
  font-size: var(--fieldFontSize, 1rem);
}

.field__input{
  box-sizing: border-box;
  width: var(--fieldWidth, 100%);
  height: var(--fieldHeight, 2rem);
  padding: var(--fieldPaddingTop, 1.25rem) var(--uiFieldPaddingRight) var(--fieldPaddingBottom, .5rem) var(--uiFieldPaddingLeft);
  border-bottom: var(--uiFieldBorderWidth) solid var(--fieldBorderColor, rgba(0, 0, 0, .25));  
}

.field__input:focus{
  outline: none;
}

.field__input::-webkit-input-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
}

.field__input::-moz-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
}

.field__input:focus::-webkit-input-placeholder{
  opacity: 1;
  transition-delay: .2s;
}

.field__input:focus::-moz-placeholder{
  opacity: 1;
  transition-delay: .2s;
}

.field__label-wrap{
  box-sizing: border-box;
  pointer-events: none;
  cursor: text;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.field__label-wrap::after{
  content: "";
  box-sizing: border-box;
  width: 100%;
  height: 0;
  opacity: 0;

  position: absolute;
  bottom: 0;
  left: 0;
}

.field__input:focus ~ .field__label-wrap::after{
  opacity: 1;
}

.field__label{
  position: absolute;
  left: var(--uiFieldPaddingLeft);
  top: calc(50% - .5em);

  line-height: 1;
  font-size: var(--fieldHintFontSize, inherit);

  transition: top .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out, font-size .2s ease-out;
}

.field__input:focus ~ .field__label-wrap .field__label,
.field__input:not(:placeholder-shown) ~ .field__label-wrap .field__label{
  --fieldHintFontSize: var(--fieldHintFontSizeFocused, .75rem);

  top: var(--fieldHintTopHover, .25rem);
}

/* 
effect 1
*/

.field_v1 .field__label-wrap::after{
  border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
  transition: opacity .2s ease-out;
}

/* 
effect 2
*/

.field_v2 .field__label-wrap{
  overflow: hidden;
}

.field_v2 .field__label-wrap::after{
  border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
  transform: translate3d(-105%, 0, 0);
  transition: transform .285s ease-out .2s, opacity .2s ease-out .2s;
}

.field_v2 .field__input:focus ~ .field__label-wrap::after{
  transform: translate3d(0, 0, 0);
  transition-delay: 0;
}

/*
effect 3
*/

.field_v3 .field__label-wrap::after{
  border: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
  transition: height .2s ease-out, opacity .2s ease-out;
}

.field_v3 .field__input:focus ~ .field__label-wrap::after{
  height: 100%;
}

/*
=====
LEVEL 4. SETTINGS
=====
*/

.field{
  --fieldBorderColor: #D1C4E9;
  --fieldBorderColorActive: #673AB7;
}

/*
=====
DEMO
=====
*/

.page{
  box-sizing: border-box;
  width: 100%;
  max-width: 480px;
  padding: 1rem;

  display: grid;
  grid-gap: 30px;
}

.linktr{
  order: -1;
  padding: 1.75rem;
  text-align: center;
}

.linktr__goal{
  background-color: rgb(209, 246, 255);
  color: rgb(8, 49, 112);
  box-shadow: rgb(8 49 112 / 24%) 0px 2px 8px 0px;
  border-radius: 2rem;
  padding: .5rem 1.25rem;
}

@media (min-width: 1024px){
  
  .linktr{
    position: absolute; 
    right: 1rem; 
    bottom: 1rem;
  }
}

.r-link{
    --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
    --uirLinkTextColor: var(--rLinkTextColor);
    --uirLinkTextDecoration: var(--rLinkTextDecoration, none);

    display: var(--uirLinkDisplay) !important;
    color: var(--uirLinkTextColor) !important;
    text-decoration: var(--uirLinkTextDecoration) !important;
}

.patients-another{
  height: 150px;
}

.patients-another-area {
  margin-top: 10px;
  margin-bottom: 20px;
}

.patients-change-btn {
  float: right;
}

.doc-area {
  float: left;
  width: 30%;
  height: 290px;
  box-sizing: border-box;
  margin: 0 10px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.doc-name {
  display: inline-block;
  padding-top: 10px;
  width: 150px;
  height: 25px;

}

.career-area {
  float: left;
  width: 64%;
  box-sizing: border-box;
  height: 115px;
  margin-right: 6px;
  padding: 20px;
} 

.career-area span {
  display: block;
}

.custom-badge {
  width : 150px;
  background-color: #9dd3ec;
}

 

.top-area{
  width: 100%;
  height: 300px;
  padding: 5px;
  font-weight: 1000;
  border-bottom: 1px solid black;
}

.top-area i {
  font-weight: bold;
  font-size: 15px;
}

.top-area span.badge  {
  font-size: 15px;
}

.hos-area {
  width: 64%;
  height: 165px;
  margin-top: 5px;
  padding: 20px;
  float: left;
  box-sizing: border-box;
}

.hos-area span {
  display: block;
}

.hos-name {
  height: 30px;
  margin-bottom: 5px;
}
.hos-info {
  
  height: 50px;
  margin-bottom: 5px;
}
.hos-addr {
 
  height: 30px;
  margin-bottom: 50px;
}

.doc-img {
  float: left;
  width: 170px;
  height: 220px;
  border: 1px solid black;
}

.doc-career-name {
  width: 300px;
  border-bottom: 3px solid black;
}

.doc-career-list {
  padding: 5px 0 0 10px;
}

.middle-area {
  height: 250px;
  margin-top: 15px;
  border-bottom: 1px solid black;
}
.fed-text {
  display: inline-block;
  font-weight: 900;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 7px;
} 

.review-area {
  height: 120px;
  margin-top: 15px;
  padding: 5px;
}

h5,h6 {
  font-weight: 900;
}